/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: Lexend;
  src: url("./assets/fonts/Lexend/Lexend-VariableFont_wght.ttf");
}
@font-face {
  font-family: Outfit;
  src: url("./assets/fonts/Outfit/Outfit-VariableFont_wght.ttf");
}

* {
  box-sizing: border-box;
}
:root {
  --fontFamily: "Outfit";
  --primary: #ff725e;
  --secondary: #1f2544;
  --blueColor: #ffd0ec;
  --bgColor: #fff;
  --fontSize: 16px;
}
textarea:focus,
input:focus {
  outline: 0 !important;
}
html {
  scroll-behavior: smooth;

  // @media only screen and (max-width: 575px) {
  //   font-size: 14px !important;
  // }
  // @media only screen and (min-width: 576px) and (max-width: 991px) {
  //   font-size: 16px !important;
  // }
  // @media only screen and (min-width: 992px) and (max-width: 1200px) {
  //   font-size: 18px !important;
  // }
  // @media only screen and (min-width: 1200px) and (max-width: 1440px) {
  //   font-size: 19px !important;
  // }
  // @media only screen and (min-width: 1600px) {
  //   font-size: 20px !important;
  // }
}
body {
  // overflow-x: hidden;
  // scroll-behavior: smooth;
  // @media only screen and (max-width: 575px) {
  //   font-size: 13px !important;
  // }
  // @media only screen and (min-width: 576px) and (max-width: 991px) {
  //   font-size: 16px !important;
  // }
  // @media only screen and (min-width: 992px) and (max-width: 1200px) {
  //   font-size: 17px !important;
  // }
  // @media only screen and (min-width: 1200px) and (max-width: 1440px) {
  //   font-size: 18px !important;
  // }
  // @media only screen and (min-width: 1600px) {
  //   font-size: 20px !important;
  // }
  margin: 0;
  padding: 0;
  color: #808080;
  background-color: var(--bgColor);
  // letter-spacing: 1px;
  font-size: var(--fontSize);
  font-family: var(--fontFamily);
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
}
a {
  text-decoration: none;
}
.button-outline {
  text-transform: uppercase;
  border: 1.5px solid var(--secondary);
  color: var(--secondary);
  // box-shadow: 0px 0px 40px 0px #504fa13d;
  background: transparent;
  padding: 0.75rem 1.5rem;
  border-radius: 2rem;
  font-size: 1rem;
  font-family: var(--fontFamily);
  cursor: pointer;
  display: inline-flex;
  align-items: flex-end;
  justify-content: center;
  // &.center {
  //   margin: auto;
  // }
  svg {
    width: 1.125rem;
  }
}
.text-center {
  text-align: center;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.button-outline {
  border: 1.5px solid #dcdcec;
  color: var(--primary);
  // box-shadow: 0px 0px 40px 0px #504fa13d;
  background: transparent;
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  font-size: 1.125rem;
  font-family: var(--fontFamily);
  cursor: pointer;
  display: inline-flex;
  align-items: flex-end;
  justify-content: center;
  // &.center {
  //   margin: auto;
  // }
  svg {
    width: 1.125rem;
  }
}
.my-button {
  border: 0;
  background-color: var(--primary);
  color: #fff;
  padding: 0.75rem 1.5rem;
  line-height: 1.6rem;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  display: inline-flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  svg {
    width: 1.125rem;
  }
  transition: 0.25s;
  &:hover {
    transform: scale(1.02);
  }
  &:active {
    transform: scale(0.98);
  }
}
.button {
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  padding-block: 0.75rem;
  padding-inline: 1.5rem;
  background-color: var(--primary);
  border-radius: 0.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  gap: 1rem;
  font-weight: 400;
  border: 3px solid #ffffff4d;
  outline: none;
  overflow: hidden;
  font-size: 1.25rem;
  font-family: var(--fontFamily);
  &.secondary {
    background-color: #ee4a62;
  }
  &.light {
    background-color: #eee;
    color: var(--secondary);
  }
  // &:disabled {
  //   background-color: #777;
  // }
  .icon {
    width: 1.5rem;
    height: 1.5rem;
    transition: all 0.3s ease-in-out;
    path {
      stroke: #fff;
    }
  }

  &:hover {
    transform: scale(1.05);
    border-color: #fff9;
  }

  &:hover .icon {
    transform: translate(4px);
  }

  &:hover::before {
    animation: shine 1.5s ease-out infinite;
  }

  &::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0) 70%
    );
    top: 0;
    left: -100px;
    opacity: 0.6;
  }

  @keyframes shine {
    0% {
      left: -100px;
    }

    60% {
      left: 100%;
    }

    to {
      left: 100%;
    }
  }

  &.white {
    background-color: #fff;
    color: var(--primary);
    border: 3px solid var(--primary);
    font-weight: 700;
    .icon {
      path {
        stroke: var(--primary);
      }
    }
  }
}
//spaces
$sizes: 12;
@mixin margin-classes {
  @for $i from 1 through $sizes {
    $margin: $i * 0.25rem;
    /* margin #{$margin} */
    .m#{$i} {
      margin: $margin !important;
    }
    .ml#{$i} {
      margin-left: $margin !important;
    }
    .mr#{$i} {
      margin-right: $margin !important;
    }
    .mt#{$i} {
      margin-top: $margin !important;
    }
    .mb#{$i} {
      margin-bottom: $margin !important;
    }
    .mx#{$i} {
      margin-left: $margin !important;
      margin-right: $margin !important;
    }
    .my#{$i} {
      margin-top: $margin !important;
      margin-bottom: $margin !important;
    }
  }
}
@include margin-classes;

@mixin padding-classes {
  @for $i from 1 through $sizes {
    $padding: $i * 0.25rem;
    /* padding #{$padding} */
    .p#{$i} {
      padding: $padding !important;
    }
    .pl#{$i} {
      padding-left: $padding !important;
    }
    .pr#{$i} {
      padding-right: $padding !important;
    }
    .pt#{$i} {
      padding-top: $padding !important;
    }
    .pb#{$i} {
      padding-bottom: $padding !important;
    }
    .px#{$i} {
      padding-left: $padding !important;
      padding-right: $padding !important;
    }
    .py#{$i} {
      padding-top: $padding !important;
      padding-bottom: $padding !important;
    }
  }
}
@include padding-classes;

// grid system
$grid-columns: 12;
$sm-breakpoint: 576px;
$md-breakpoint: 768px;
$lg-breakpoint: 992px;
$xl-breakpoint: 1200px;
.container {
  // width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: grid;
  grid-template-columns: repeat($grid-columns, 1fr); /*cols x freespace*/
  // grid-gap: 1rem;
}

/* Build Bootstrap's Grid */
@for $i from 1 through $grid-columns {
  .col-#{$i} {
    grid-column: span ($i);
  }
  .col-sm-#{$i} {
    grid-column: span ($grid-columns);
  }
  .col-md-#{$i} {
    grid-column: span ($grid-columns);
  }
  .col-lg-#{$i} {
    grid-column: span ($grid-columns);
  }
  .col-xl-#{$i} {
    grid-column: span ($grid-columns);
  }
}
/* small */
@media (min-width: $sm-breakpoint) {
  @for $i from 1 through $grid-columns {
    .col-sm-#{$i} {
      grid-column: span ($i) !important;
    }
  }
  .container {
    max-width: 560px;
  }
}
/* medium */
@media (min-width: $md-breakpoint) {
  @for $i from 1 through $grid-columns {
    .col-md-#{$i} {
      grid-column: span ($i) !important;
    }
  }
  .container {
    max-width: 767px;
  }
}
/* large */
@media (min-width: $lg-breakpoint) {
  @for $i from 1 through $grid-columns {
    .col-lg-#{$i} {
      grid-column: span ($i) !important;
    }
  }
  .container {
    max-width: 960px;
  }
}

/*extra large */
@media (min-width: $xl-breakpoint) {
  @for $i from 1 through $grid-columns {
    .col-xl-#{$i} {
      grid-column: span ($i) !important;
    }
  }
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1312px;
  }
}
