<!--&lt;!&ndash; NG-ZORRO &ndash;&gt;-->
<!--<a href="https://github.com/NG-ZORRO/ng-zorro-antd" target="_blank" style="display: flex;align-items: center;justify-content: center;height: 100%;width: 100%;">-->
<!--  <img height="300" src="https://img.alicdn.com/tfs/TB1X.qJJgHqK1RjSZFgXXa7JXXa-89-131.svg">-->
<!--</a>-->

<!-- <div>
  <nz-header class="main-header" nz-row nzType="flex" class="custom-navbar">
    <div class="navbar-title">
      <a routerLink="/login">Car Rental Service</a>
    </div>

    <div class="nav-links">
      <a nz-button nzType="link" routerLink="/register" routerLinkActive="active">Sign Up</a>
      <a nz-button nzType="link" routerLink="/login" routerLinkActive="active">Login</a>
    </div>
  </nz-header>
</div> -->



<router-outlet></router-outlet>
